body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image:url("images/bg.png");

}

@font-face {
    font-family: "raleway";
	src: url('fonts/raleway_thin-webfont.eot');
	src: url('fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/raleway_thin-webfont.woff') format('woff'),
    url('fonts/raleway_thin-webfont.ttf') format('truetype'),
    url('fonts/raleway_thin-webfont.svg#raleway') format('svg');
	font-weight: 200;
}

.titleName {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	border-bottom: 4px solid #265368;
	overflow: hidden;
	animation: reveal 2s linear forwards;
}
.titleName h1 {
	margin: 0;
	padding: 0;
	font-family: raleway;
	font-size: 8em;
	text-transform: lowercase;
	color: rgba(49,152,187,.3);
	background-image: url('../images/water.png');
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	animation: waterFill 7s linear infinite;
	-webkit-animation: waterFill 7s linear infinite;
    -moz-animation: waterFill 7s linear infinite;
    -o-animation: waterFill 7s linear infinite;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.subHeading {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	clear: both;
}

.subHeading span {
	margin: 0;
	padding: 0;
	width:100%;
    height:100%;
	font-family: raleway;
	font-size: 5em;
	color: 	;
	white-space:nowrap;
}

@keyframes waterFill {
	
	0%
	{
		background-position: left 0px top 80px;
	}
	
	40%
	{
		background-position: left 800px top -50px;
	}
	80%
	{
		background-position: left 1800px top -100px;
	}	
	100%
	{
		background-position: left 2400px top -200px;
	}
}

@-webkit-keyframes waterFill {
	
	0%
	{
		background-position: left 0px top 80px;
	}
	
	40%
	{
		background-position: left 800px top -50px;
	}
	80%
	{
		background-position: left 1800px top -100px;
	}	
	100%
	{
		background-position: left 2400px top -200px;
	}
}

@-moz-keyframes waterFill {

	0%
	{
		background-position: left 0px top 80px;
	}
	
	40%
	{
		background-position: left 800px top -50px;
	}
	80%
	{
		background-position: left 1800px top -100px;
	}	
	100%
	{
		background-position: left 2400px top -200px;
	}
}

@-o-keyframes waterFill {
	
	0%
	{
		background-position: left 0px top 80px;
	}
	
	40%
	{
		background-position: left 800px top -50px;
	}
	80%
	{
		background-position: left 1800px top -150px;
	}	
	100%
	{
		background-position: left 2400px top -200px;
	}
}

@keyframes reveal {
	
	0%
	{
		width: 0px;
		height: 0px;
	}
	
	30%
	{
		width: 720px;
		height: 0px;
	}
	60%
	{
		width: 720x;
		height: 170px;
	}	
	80%
	{
		width: 720px;
		height: 170px;
	}
	100%
	{
		width: 720px;
		height: 170px;
	}
}

.waterBubbles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.waterBubbles li {
	position: absolute;
	list-style: none;
	display: block;
	width: 20px;
	height: 20px;
	background: rgba(49,152,187,.4);
	animation: animate 25s linear infinite;	
	bottom: -300px;
}

.waterBubbles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0;	
}

.waterBubbles li:nth-child(2) {
	left: 10%;
	width: 20px
	height: 20px;
	animation-delay: 2s;	
	animation-duration: 12s;
}

.waterBubbles li:nth-child(3) {
	left: 50%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;	
	animation-duration: 20s;

}

.waterBubbles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;	
	animation-duration: 18s;

}

.waterBubbles li:nth-child(5) {
	left: 30%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 17s;
	
}

.waterBubbles li:nth-child(6) {
	left: 70%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
	animation-duration: 10s;

}

.waterBubbles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;	
}

.waterBubbles li:nth-child(8) {
	left: 60%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;	
	animation-duration: 45s;
}

.waterBubbles li:nth-child(9) {
	left: 5%;
	width: 125px;
	height: 125px;
	animation-delay: 2s;	
	animation-duration: 20s;
}

.waterBubbles li:nth-child(10) {
	left: 80%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;	
}

@keyframes animate {
	
	0%
	{
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 50%;
	}
	
	100%
	{
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 80%;
	}
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.fa-github:hover {
    color: red;
}

#linkedin:hover {
    color: #0c1b22;
}

#facebook:hover {
    color: #0c1b22;
}

.gradient {
    background-color: rgba(95, 153, 176, 0.97);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjOThkZmY3IiBzdG9wLW9wYWNpdHk9IjAuOTQiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyNjUzNjgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgba(152, 223, 247, 0.94)),color-stop(1, rgb(38, 83, 104)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,rgba(152, 223, 247, 0.94) 0%,rgb(38, 83, 104) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,rgba(152, 223, 247, 0.94) 0%,rgb(38, 83, 104) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgba(152, 223, 247, 0.94) 0%,rgb(38, 83, 104) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f098dff7",endColorstr="#ff265368",GradientType=0);
    }
}
